# env variables
OPENAI_API_KEY=<key>
OPENAI_EMBEDDING_MODEL=<model>
OPENAI_CHAT_MODEL=<model>
PG_CONNECTION_STRING=<string>/<db_name>
PG_CONNECTION_STRING_FTS=<string_without_psycopg>/<db_name>
COHERE_API_KEY=<key>
# TAVILY_API_KEY=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
LANGGRAPH_CHECKPOINT_DB_URI=<string_without_psycopg>/<db_name>

PG_RDBMS_CONNECTION_STRING=<string>/<db_name>

# # for LLM observality
# LANGSMITH_TRACING=true
# LANGSMITH_ENDPOINT=https://apac.api.smith.langchain.com
# LANGSMITH_API_KEY=<key>
# LANGSMITH_PROJECT="project_name"
GUARDRAIL_API_KEY=<key>